Perform the various regression model svm, linear, logistic  with and without regularization discussed in today session on housing. csv file
It will be divided in following manner \
Data collection \
Data analyze \
Data wrangling \
Train test \
Modeling  \
Performance analysis 
compare the performance analysis of regression models

In [1]:
# This Assignment is done by CS20B1044 Avinash R Changrani
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("./housing.csv")

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
df.isnull()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
20635,False,False,False,False,False,False,False,False,False,False
20636,False,False,False,False,False,False,False,False,False,False
20637,False,False,False,False,False,False,False,False,False,False
20638,False,False,False,False,False,False,False,False,False,False
20639,False,False,False,False,False,False,False,False,False,False

In [4]:
# Finding Missing data
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [5]:
# Removing Missing data and cleaning it
df = df.dropna()

df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [6]:
#len(pd.unique(df['ocean_proximity']))
pd.unique(df['ocean_proximity'])

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [7]:
# give values to categorical variables
df['ocean_proximity'] = df['ocean_proximity'].map({'NEAR BAY':1, '<1H OCEAN':2, 'INLAND':3, 'NEAR OCEAN':4, 'ISLAND':5})

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,1
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,1
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,1
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,1
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,1

In [8]:
# Normalising the data
# df = (df - df.min())/(df.max() - df.min())

# df

In [9]:
# split the dataset into training and testing data
X = df.drop('median_house_value',axis=1)
y = df['median_house_value']

from sklearn.model_selection import train_test_split

X_train, X_test,y_train, y_test = train_test_split(X,y ,random_state=42, test_size=0.3)

c:\Python\Python390\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [10]:
# Linear Regression without regularisation
from sklearn.linear_model import LinearRegression
regr = LinearRegression()
regr.fit(X_train, y_train)
y_pred = regr.predict(X_test)

print("Coefficients: \n", regr.coef_)
print("Intercept: \n", regr.intercept_)
mse = np.mean((y_test - y_pred)**2)
print("mse: \n", mse)
print("Regr Score: \n", regr.score(X_test,y_test))

Coefficients:
 [-4.13672906e+04 -4.15205103e+04  1.15250783e+03 -8.25105920e+00
  1.16955194e+02 -3.57501096e+01  3.69413062e+01  4.01114935e+04
 -3.00725854e+03]
Intercept:
 -3449326.2704959568
mse:
 4734411493.455031
Regr Score:
 0.644855188065742

In [11]:
# Linear Regression with regularisation (Lasso Regression)
from sklearn.linear_model import Lasso
lasso_model = Lasso(alpha=0.1)
lasso_model.fit(X_train, y_train)

lasso_model.score(X_test,y_test), lasso_model.score(X_train,y_train), lasso_model.coef_

(0.6448551390236362,
 0.6338395784643465,
 array([-4.13669408e+04, -4.15201793e+04,  1.15251411e+03, -8.25109379e+00,
         1.16954706e+02, -3.57501181e+01,  3.69421373e+01,  4.01115153e+04,
        -3.00718183e+03]))

In [12]:
# Ridge Regression
from sklearn.linear_model import Ridge
ridge_model = Ridge(alpha=0.1)
ridge_model.fit(X_train, y_train)

ridge_model.score(X_test,y_test), ridge_model.score(X_train,y_train), ridge_model.coef_

(0.6448550310150654,
 0.6338395784235374,
 array([-4.13661569e+04, -4.15194623e+04,  1.15252339e+03, -8.25112067e+00,
         1.16953668e+02, -3.57501578e+01,  3.69436578e+01,  4.01115337e+04,
        -3.00745680e+03]))